<div class="o-app-container">
	<img class="a-back-icon" id="{{backBtnId}}" src="../assets/icons/fontawesome/chevron-left-solid.svg"></img>
	<div>
	<h1 class="a-h1" id="btn">Your space crew</h1>
	<div class="m-navbar">
		<div class="a-navbar__invite " id={{navIdInvite}}>Invite Friends</div>
		<div class="a-navbar__overview" id={{navIdOverview}}>Crew Overview</div>
		<div class="a-navbar__settings a-navbar__settings--active" id={{navIdSettings}}>Gameplay</div>
	</div>		
	</div>
	{{#with data}}
	{{> settingsScreen }}
	{{/with}}
	<div class="m-playButton">
		<img class="a-leave-icon" id="{{ playBtnId }}"  src="../assets/icons/fontawesome/play-solid.svg"></img>
	</div>
</div>